# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist
dist-ssr

# Env (spara bara exempel)
.env
.env*.local
!.env.example

# Caches
.vite
.eslintcache
coverage
.nyc_output

# Deploy
.vercel
.netlify

# Editor/OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# TypeScript
*.tsbuildinfo

# Node
node_modules
*.local

